.contenedor_gal{
    background: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
}

.galeria h1{
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contenedor_gal img{
    width: 20%;
    height: 200px;
    margin: 10px;
    bottom: 2px solid #333;
    box-shadow: 0 0 0 2px #f4f4f4;
    flex: auto;
    transition: 1s;
    margin-bottom: 30px;
    margin-top: 10px;

}

.contenedor_gal img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

@media screen and(max-width:80px){
    .contenedor_gal img{
        width: 30%;
    }
}

@media screen and(max-width:500px){
    .contenedor_gal img{
        width: 95%;
    }
}